.header {
    @apply
        .p-2
        .mb-2;

    background-color: #24292e;

    &__logo {
        @apply
            .w-full
            .my-0 .mx-auto;

        max-width: 180px;

        a { @apply .block; }
    }

    &__image { @apply .mr-1; }

    &__search {
        @apply
            .w-full
            .flex
            .relative
            .justify-center;

        input { align-self: center; }

        &-results {
            @apply
                .absolute
                .w-3/4
                .bg-white
                .z-50
                .border
                .border-t-0;

            top: 98%;
            list-style: none;

        }

        &-result {
            @apply
                .py-3
                .px-1
                .items-center;
        }

        &-holder {
           @apply
               .relative
               .w-3/4
               .text-center;

            .fa-search,
            .fa-times {
                @apply
                    .cursor-pointer
                    .absolute
                    .p-2;
                top: 5px;
            }

            .fa-search {
                right: 1%;
            }

            .fa-times {
                right: 5%;
            }
        }
    }
}

.logo_column {
    @apply .column--12;
}

@screen md {
    .logo_column { @apply .column--2; }
    .header__search-holder {

    }
}

@screen lg {

}

@screen xl {}
